{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='plugin/editor-md/css/editormd.preview.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block content %}
<div class="container">
    <div class="row" style="margin-bottom: 100px">
        <div class="col-sm-12 col-xs-12 update-blog">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="text-align: center;">
                        {{ note.title }}
                    </h4>
                    <br/>

                </div>
                <div class="panel-body" id="content_{{ note.id }}">
                    <div>
                        <textarea>{{ note.content }}</textarea>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='plugin/editor-md/editormd.js') }}"></script>

<script src="{{ url_for('static', filename='plugin/editor-md/lib/marked.min.js') }}"></script>

<script src="{{ url_for('static', filename='plugin/editor-md/lib/prettify.min.js') }}"></script>

<script src="{{ url_for('static', filename='plugin/editor-md/lib/raphael.min.js') }}"></script>

<script src="{{ url_for('static', filename='plugin/editor-md/lib/underscore.min.js') }}"></script>

<script src="{{ url_for('static', filename='plugin/editor-md/lib/sequence-diagram.min.js') }}"></script>

<script src="{{ url_for('static', filename='plugin/editor-md/lib/flowchart.min.js') }}"></script>

<script src="{{ url_for('static', filename='plugin/editor-md/lib/jquery.flowchart.min.js') }}"></script>
<script>
    $(function () {
        id = $(".panel-body").attr('id');
        console.log(id)
        previewMarkdown(id);

    })

    // 处理Markdown预览
    function previewMarkdown(id) {
        editormd.markdownToHTML(id, {
            // {#避免一些攻击#}
            htmlDecode: 'Style.script.iframe'
        });
    }

</script>
{% endblock %}