{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='plugin/editor-md/css/editormd.preview.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block content %}
<div class="container">
    <div class="row" style="margin-bottom: 100px">
        <div class="col-md-3 col-sm-4 hidden-xs left">
            {# 个人简介#}
            <table class="table">
                <tr>
                    <a href="#">
                        <img style="height: 254px;
                                width: 254px;
                                margin-top: 10px;
                                margin-bottom: 45px;
                                border-radius: 50%;"
                             src="https://tse2-mm.cn.bing.net/th/id/OIP-C.UJn6UIedh0fIZk5V4f_5zgHaE8?pid=ImgDet&rs=1"
                             alt="头像"/>
                    </a>
                </tr>
                <tr>
                    <th>{{ user.username|title }}</th>
                </tr>
                <tr>
                    <th>邮箱：</th>
                    <th>{{ user.email }}</th>
                </tr>
            </table>
        </div>
        <div class="col-md-9 col-sm-8 right">
            <!--博客更新处-->
            <div class="page-header">
                <h3 style="margin: 40px 15px 20px;">最近更新 <small>博客文章</small></h3>

            </div>
            {% for note in notes %}
            <div class="col-sm-6 col-xs-12 update-blog">
                <div class="panel panel-default">
                    <div class="panel-heading title" fid="{{ note.id }}">
                        <h3 class="panel-title"><a
                                href="#">{{ note.title }}</a></h3>
                        <br/>

                    </div>
                    <div class="panel-body" style="display: none" id="content_{{ note.id }}">
                        <div>
                            <textarea>{{ note.content }}</textarea>
                        </div>

                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='plugin/editor-md/editormd.js') }}"></script>

<script src="{{ url_for('static', filename='plugin/editor-md/lib/marked.min.js') }}"></script>

<script src="{{ url_for('static', filename='plugin/editor-md/lib/prettify.min.js') }}"></script>

<script src="{{ url_for('static', filename='plugin/editor-md/lib/raphael.min.js') }}"></script>

<script src="{{ url_for('static', filename='plugin/editor-md/lib/underscore.min.js') }}"></script>

<script src="{{ url_for('static', filename='plugin/editor-md/lib/sequence-diagram.min.js') }}"></script>

<script src="{{ url_for('static', filename='plugin/editor-md/lib/flowchart.min.js') }}"></script>

<script src="{{ url_for('static', filename='plugin/editor-md/lib/jquery.flowchart.min.js') }}"></script>
<script>
    $(function () {
        var $title = $('.title');
        $title.click(function () {
            fid = $(this).attr('fid');
            id = 'content_' + fid;
            $(this).next().show(1000, 'swing');
            previewMarkdown(id);
        });
// {#文本详细内容隐藏#}
        $('.panel-body').click(function () {
            $(this).hide(1000, 'swing');
        });
    })

    // 处理Markdown预览
    function previewMarkdown(id) {
        editormd.markdownToHTML(id, {
// {#避免一些攻击#}
            htmlDecode: 'Style.script.iframe'
        });
    }

</script>
{% endblock %}